@use "variables";

.banner {
  display: flex;
  width: 100%;
  min-height: 800px;
  background-color: #232427;
  overflow: hidden;

  .banner-content {
    width: 50%;
    display: flex;
    align-items: center;

    .content-container {
      width: 100%;
      max-width: 680px;
      margin: 0 0 0 auto;
    }

    .content-inner {
      max-width: 553px;

      h1 {
        color: #fff;
        margin-bottom: 40px;
      }

      .subheader-1 {
        color: #fff;
        margin-bottom: 36px;
      }
    }
  }

  .banner-image {
    width: 50%;
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url("../images/banner@2x.jpg");
    }
  }
}

@media (max-width: variables.$BREAKPOINT-SM) {
  .banner {
    flex-direction: column-reverse;

    .banner-image {
      width: 100%;
      aspect-ratio: 16 / 10;
    }

    .banner-content {
      width: 100%;
      padding: 40px 20px;

      .content-container {
        margin: 0 auto;
        max-width: 680px;
      }

      .content-inner {
        max-width: 100%;
      }
    }
  }
}
