@use "variables";

.info {
  padding: 127px 0;
  text-align: center;
  background-color: variables.$GREY_50;

  .caption-1 {
    color: variables.$PRIMARY_800;
  }

  h2 {
    margin: 12px 0 64px 0;
  }

  .icon-boxes {
    display: flex;
    gap: 30px;

    @media (max-width: variables.$BREAKPOINT-SM) {
      flex-direction: column;
    }

    .icon-box {
      display: flex;
      flex: 1;
      gap: 25px;
      width: 100%;

      .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 56px;
        min-width: 56px;
        height: 56px;
        background-color: variables.$PRIMARY_100;
        border-radius: 50%;
        margin: 0 auto 15px;
      }

      .text {
        display: flex;
        flex-direction: column;
        gap: 12px;
        text-align: left;

        h6 {
          margin-top: 14px;
        }

        p {
          &.caption {
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            color: variables.$GREY_800;
            letter-spacing: 0;
          }
        }
      }
    }
  }
}
