@use "variables";

.menu {
  padding: 24px 0;
  background: #fff;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .logo {
      display: flex;
    }

    .menu-toggle {
      display: none;
      flex-direction: column;
      gap: 5px;
      background: none;
      border: none;
      cursor: pointer;
      padding: 10px;

      span {
        width: 24px;
        height: 2px;
        background-color: variables.$GREY_900;
        display: block;
      }
    }

    .menu-links {
      list-style: none;
      display: flex;
      gap: 48px;
      align-items: center;

      li a:not(.btn) {
        text-decoration: none;
        color: variables.$GREY_700;

        &.action-2 {
          font-family: 'Poppins', 'Inter', sans-serif;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      .menu-toggle {
        display: flex;
      }

      .menu-links {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        background-color: #fff;
        display: none;
        padding: 20px;
        gap: 20px;

        &.active {
          display: flex;
        }
      }
    }
  }
}
