@use "variables";

.offers {
  padding: 128px 0 0 0;

  @media (max-width: variables.$BREAKPOINT_MD) {
    padding: 60px 0 0 0;
  }

  .offer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 128px;

    @media (max-width: variables.$BREAKPOINT_MD) {
      flex-direction: column-reverse;
      margin-bottom: 60px;
    }

    &.reverse {
      flex-direction: row-reverse;

      @media (max-width: variables.$BREAKPOINT_MD) {
        flex-direction: column-reverse;
      }
    }

    .offer-text {
      flex: 1;
      max-width: 548px;

      .caption-1 {
        color: variables.$PRIMARY_800;
      }

      h2 {
        margin: 12px 0 20px;
      }

      p {
        margin-bottom: 32px;
      }
    }

    .offer-image {
      flex: 1;
      max-width: 548px;
      max-height: 548px;

      img {
        width: 100%;
        border-radius: 8px;
        object-fit: contain;
      }
    }
  }

  .divider {
    border-bottom: 1px solid variables.$GREY_200;
  }
}
