@use "variables";

.testimonials {
  padding: 128px 0 109px 0;
  text-align: center;

  @media (max-width: variables.$BREAKPOINT_MD) {
    padding: 60px 0;
  }

  .caption-1 {
    color: variables.$PRIMARY_800;
  }

  h2 {
    margin: 12px 0 40px;
  }

  .testimonial-wrapper {
    display: flex;
    align-items: center;

    .testimonial-nav {
        display: flex;
        margin-top: -20px;
        @media (max-width: variables.$BREAKPOINT_MD) {
            display: none;
        }
    }

    .testimonial-box {
        max-width: 900px;
        margin: 0 auto;
    
        .quote-icon {
          margin: 0 auto 30px auto;
          width: 30px;
          height: 22px;
        }
    
        .author {
          margin: 41px 0 20px 0;
          display: flex;
          flex-direction: column;
          align-items: center;
    
          img {
            width: 46px;
            height: 46px;
            border-radius: 50%;
            margin-bottom: 14px;
          }
    
          .body-1 {
            color: variables.$GREY_700;
          }
        }

        .fade {
          opacity: 0;
          transition: opacity 0.3s ease;
          pointer-events: none;
        }
        
        .fade.show {
          opacity: 1;
          pointer-events: auto;
        }

        .testimonial-nav-mobile {
          display: none;
          justify-content: center;
          gap: 10px;
          margin-bottom: 30px;
      
          @media (max-width: variables.$BREAKPOINT_MD) {
            display: flex;
          }
        }
      }
  }

}


