$BREAKPOINT_SM: 576px;
$BREAKPOINT_MD: 768px;
$CONTENT_WRAPER_WIDTH: 1360px;

$PRIMARY_50: #F7F9FF;
$PRIMARY_100: #E5EEFF;
$PRIMARY_200: #D2E1FF;
$PRIMARY_500: #8DB3FF;
$PRIMARY_600: #6E9EFF;
$PRIMARY_700: #5086F2;
$PRIMARY_800: #3F69BF;

$GREY_50: #f9f9fa;
$GREY_100: #ecedf0;
$GREY_200: #dee1e6;
$GREY_300: #cfd3db;
$GREY_500: #adb3c0;
$GREY_600: #9ba0ac;
$GREY_700: #858993;
$GREY_800: #696c74;
$GREY_900: #242529;

$WEB_RED_900: #C90D0D;

$WEB_GREEN_900: #329F32;
